.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
CKIDS/
Dashboard/data_processed
*.cookie
Dashboard/scopus_api/env/
*.db
.DS_Store
.keep
/Dashboard/aux_funcs
/Dashboard/data_raw
/Dashboard/data_raw2
Dashboard/shiny_app/usc_pubs_with_sdgs_2020_24_manual_fix.csv
Dashboard/shiny_app/usc_authors_2020_24_combined_edit.csv
Dashboard/shiny_app/DEI_pubs_ordered_2020_24.csv
Dashboard/shiny_app/usc_bridge_2020_24_combined_edit.csv
Dashboard/shiny_app/usc_by_author_sust_cat_2020_24.csv
Dashboard/shiny_app/usc_by_dept_sust_cat_2020_24.csv
Dashboard/shiny_app/usc_by_product_sust_cat_2020_24.csv
