/*
.content-wrapper, .right-side {
	background-color: #990000;
}
*/

.skin-black .main-header .logo {
	font-weight: bold;
	background-color: #FFC72C;
}

/*
.skin-black .main-header .logo:hover {
	font-weight: bold;
	background-color: #990000;
}
*/


.skin-black .main-sidebar .sidebar .sidebar-menu a{
	background-color: #990000;
}

.content-wrapper {
        background-color: #fff;
}